In [33]:
import numpy as np
import matplotlib.pyplot as plt 
import matplotlib.colors as mcolors
import pandas as pd 
import random
import math
import time
from sklearn.linear_model import LinearRegression, BayesianRidge
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
import datetime
import operator
plt.style.use('seaborn')
%matplotlib inline
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')
deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv')
recoveries_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv')

cols = confirmed_df.keys()
countries = confirmed_df['Country/Region']

confirmed = confirmed_df.loc[:, cols[4]:cols[-1]]
deaths = deaths_df.loc[:, cols[4]:cols[-1]]
recoveries = recoveries_df.loc[:, cols[4]:cols[-1]]

In [38]:
dates = confirmed.keys()
dates = list(dates)

In [40]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd
import seaborn as sns
from pylab import rcParams
import matplotlib.pyplot as plt
from matplotlib import rc
from sklearn.model_selection import train_test_split
from pandas.plotting import register_matplotlib_converters

/home/aditya/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/aditya/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/aditya/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/aditya/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/aditya/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/aditya/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [53]:
data = pd.read_csv('covid_19_india.csv')
data.head()

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,30/01/20,Kerala,1,0,0,0
1,2,31/01/20,Kerala,1,0,0,0
2,3,01/02/20,Kerala,2,0,0,0
3,4,02/02/20,Kerala,3,0,0,0
4,5,03/02/20,Kerala,3,0,0,0

In [42]:
(data.loc[0,['State/UnionTerritory']])[0]

'Kerala'

In [55]:
def get_data(col):
    #data_foreign = []
    data_national = []
    data_national.append(col[0])
    #data_foreign.append(col[0])
    ker_nat = col[0]
    #ker_for = col[0]
    for i in range(1,data.shape[0]):
        if((data.loc[i,['State/UnionTerritory']])[0] != 'Kerala'):
                data_national.append( data_national[i-1] + col[i])
                #data_foreign.append(data_foreign[i-1] + ConfirmedForeignNational[i])
        else:
                data_national.append( data_national[i-1] +( col[i]-ker_nat))
                #data_foreign.append(data_foreign[i-1]+( col[i]-ker_for))
                ker_nat = data_national[i]
                #ker_for = data_foreign[i]
    return data_national

In [59]:
Indian_confirmed = get_data(data.ConfirmedIndianNational)
Foreign_confirmed = get_data(data.ConfirmedIndianNational)
cured = get_data(data.Cured)
death = get_data(data.Deaths)

In [60]:
pd.DataFrame({'Indian Cinfrimed':Indian_confirmed,'death':death,'cured':cured})

     Indian Cinfrimed  death  cured
0                   1      0      0
1                   1      0      0
2                   2      0      0
3                   3      0      0
4                   3      0      0
..                ...    ...    ...
243               246      6     28
244               256      6     28
245               278      6     37
246               281      6     37
247               283      6     37

[248 rows x 3 columns]

In [61]:
data

,Sno,Date,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths
0,1,30/01/20,Kerala,1,0,0,0
1,2,31/01/20,Kerala,1,0,0,0
2,3,01/02/20,Kerala,2,0,0,0
3,4,02/02/20,Kerala,3,0,0,0
4,5,03/02/20,Kerala,3,0,0,0
...,...,...,...,...,...,...,...
243,244,20/03/20,Union Territory of Jammu and Kashmir,4,0,0,0
244,245,20/03/20,Union Territory of Ladakh,10,0,0,0
245,246,20/03/20,Uttar Pradesh,22,1,9,0
246,247,20/03/20,Uttarakhand,3,0,0,0
247,248,20/03/20,West Bengal,2,0,0,0